<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.QA.Utilities.ExtentReportManager"></listener>

</listeners>
  <test thread-count="5" name="Store_Test">
    <classes>
      <class name="com.QA.tests.Store_API.Store_API_Test"/>
      <class name="com.QA.tests.User_API.UserTest"/>
       <class name="com.QA.tests.Travel_API.TravelTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
